body {
  line-height: 1.5;
  margin: 0 5px 0 5px;
  padding: 0;
}

h1 {
  font-family: 'Rokkitt', serif;
  font-size: 4rem;
  padding-top: 100px;
  position: relative;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}

h2 {
  color: #387c6d;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding-top: 25px
}
p {
  padding: 25px;
}
h3 {
  color: #3a6351;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  margin-top: 50px;
}

a {
  color: #53354a;
}
.shake {
  width: 50%;
}
.layout-img {
  float: left;
  width: 400px;
  margin: 30px 50px 60px;
  height: 250px;
}
.basic {
  background-color: #edffec;
margin: 0;
}
.top-container {
  background-color: #e4fbff;
  padding-bottom: 30px;
}
.selectors {
  background-color: #f7f6e7;
  text-align: left;
}
.last {
  text-align: center;
  font-size: 20px;
  font-family: 'Rokkitt', serif;
  background-color: #e4fbff;
  padding: 0;
  margin: 0;
  border:0;
}
